In [1]:
import pandas as pd
import numpy as np

In [2]:
train  = pd.read_csv("C:/Users/shubham.mankodiya/Downloads/train.csv")

In [3]:
dup = train.pop('is_duplicate')

In [5]:
train.head(15)

,id,qid1,qid2,question1,question2
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan..."
6,6,13,14,Should I buy tiago?,What keeps childern active and far from phone ...
7,7,15,16,How can I be a good geologist?,What should I do to be a great geologist?
8,8,17,18,When do you use シ instead of し?,"When do you use ""&"" instead of ""and""?"
9,9,19,20,Motorola (company): Can I hack my Charter Moto...,How do I hack Motorola DCX3400 for free internet?
10,10,21,22,Method to find separation of slits using fresn...,What are some of the things technicians can te...
11,11,23,24,How do I read and find my YouTube comments?,How can I see all my Youtube comments?
12,12,25,26,What can make Physics easy to learn?,How can you make physics easy to learn?
13,13,27,28,What was your first sexual experience like?,What was your first sexual experience?
14,14,29,30,What are the laws to change your status from a...,What are the laws to change your status from a...

In [6]:
import nltk
import re, string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [7]:
def clean_text(content):
    if type(content) == str:
        
        text = content.lower()
        
        text = re.sub(r'[^\x00-\x7f]',r' ',text)
        
        text = re.sub("["+string.punctuation+"]", " ", text)
        
        words=text.split()
        
        stop_word=set(stopwords.words('english'))
        words=list(word for word in words if not word in stop_word)
        words=[word for word in words if len(word)>1 ]
        words=[WordNetLemmatizer().lemmatize(word) for word in words]
        return ( " ".join(words) )
    else:
        return ""

In [8]:
train.question1 = train.question1.map(clean_text)
train.question2 = train.question2.map(clean_text)

In [9]:
def tokenize(content):
    return content.split()

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf_vectorizer = TfidfVectorizer(tokenizer=tokenize, analyzer='word', max_df=1.0, min_df=1)
cosine_vals = []

for i in train.id:
    try:
        tfidf_matrix = tfidf_vectorizer.fit_transform([train.loc[i]['question1'], train.loc[i]['question2']])
        cosine_vals.append(cosine_similarity(tfidf_matrix[0:1], tfidf_matrix)[0][1])
    except:
        cosine_vals.append(0)

In [21]:
from sklearn.metrics import accuracy_score, log_loss

In [26]:
print (accuracy_score)

<function accuracy_score at 0x00000227542248C8>

In [27]:
test = pd.read_csv("c:/Users/shubham.mankodiya/Downloads/test.csv")

In [28]:
ids = test.pop('test_id')
test.question1 = test.question1.map(clean_text)
test.question2 = test.question2.map(clean_text)

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
tfidf_vectorizer = TfidfVectorizer(tokenizer=tokenize, analyzer='word', max_df=1.0, min_df=1)
cosine_vals_test = []
for i in ids:
    if i%100000 ==0: print (i)
    try:
        tfidf_matrix = tfidf_vectorizer.fit_transform([test.loc[i]['question1'], test.loc[i]['question2']])
        cosine_vals_test.append(cosine_similarity(tfidf_matrix[0:1], tfidf_matrix)[0][1])
    except:
        cosine_vals_test.append(0)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000

In [31]:
columns = ['test_id','is_duplicate']
df = pd.DataFrame(columns = columns)
df['test_id'] = ids
df['is_duplicate'] = cosine_vals_test

df.to_csv('submission.csv',index = False)

In [32]:
pd.read_csv("submission.csv")

         test_id  is_duplicate
0              0      0.225477
1              1      0.519388
2              2      0.579739
3              3      0.336097
4              4      0.709297
5              5      0.220288
6              6      0.450176
7              7      0.224375
8              8      0.411207
9              9      0.476006
10            10      0.776515
11            11      0.252139
12            12      0.000000
13            13      0.201993
14            14      0.502929
15            15      0.411207
16            16      0.125367
17            17      0.615219
18            18      0.300698
19            19      0.579739
20            20      0.156112
21            21      0.387557
22            22      0.503103
23            23      0.170776
24            24      0.159764
25            25      0.403471
26            26      0.145837
27            27      0.170776
28            28      0.206137
29            29      0.184411
...          ...           ...
2345766  2345766      0.000000
2345767  2345767      0.168368
2345768  2345768      0.288432
2345769  2345769      0.000000
2345770  2345770      0.356300
2345771  2345771      0.469171
2345772  2345772      0.431613
2345773  2345773      0.000000
2345774  2345774      0.136276
2345775  2345775      0.579739
2345776  2345776      0.411207
2345777  2345777      0.220288
2345778  2345778      0.201993
2345779  2345779      0.112343
2345780  2345780      0.237739
2345781  2345781      0.253209
2345782  2345782      0.353372
2345783  2345783      0.066997
2345784  2345784      1.000000
2345785  2345785      0.000000
2345786  2345786      0.260556
2345787  2345787      0.000000
2345788  2345788      0.203804
2345789  2345789      0.000000
2345790  2345790      0.192385
2345791  2345791      0.105992
2345792  2345792      0.144384
2345793  2345793      0.322377
2345794  2345794      0.773675
2345795  2345795      0.291219

[2345796 rows x 2 columns]